@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(115, 151, 115);
}

ul {
    display: flex;
}

li {
    border: 2px solid aliceblue;
    padding: 2rem;
    transition: transform 350ms ease-in-out;
}

li:hover {
    /*transform: translate(30px, 60px); */
    /*transform: rotate(45deg); */
    /*transform: scale(1.05); */
    /*transform: skew(45deg); */
    transform: rotateX(360deg);
}

a {
    color: aliceblue;
    font-size: 2rem;
    transition: color 350ms ease-in-out;
}

a:hover {
    color: aquamarine;
}